.container {
    padding: 0 60px;
}

.filters-block {
    flex-wrap: wrap;
}

.filters-nav {
    width: 100%;
}

.filter-tag {
    font-size: .63rem;
}

.logements {
    flex-direction: column-reverse;

}

.logements-results {
    width: 100%;
    background-color: #FFFFFF;
    padding: 0;
}

.logements-cards{
    gap: 1.3rem;
}

.log-card{
    flex: 1 1 40%;
}

.log-card-title, .log-card-text, .stars {

    padding-top: 10px;
}

.most-popular {
    width: 100%;
}

.mp-card-img {
    max-width: 50%;
}

.cards-grid {
    grid-template-columns: repeat(3, 1fr);
    height: max-content;
}

.act-card {
    height: 300px;
}

.act-card-title {
    font-size: .71rem;
}

.elem-3 {
    grid-column: 1 / 2;
}

.elem-6 {
    grid-row: 2 / 3;
    grid-column: 3 / 4;
}

.footer {
    padding: 35px 60px;
    justify-content: space-between;
}

.footer-title{
    font-size: 1.1rem;
}

.footer-text{
    padding-bottom: 1rem;
}